@import url("https://fonts.googleapis.com/css?family=Mukta+Vaani:400,800&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #0F0F0F;
  line-height: 1;
}

h2 {
  font-weight: 400;
  font-size: 38px;
  margin-bottom: 15px;
}

p {
  color: #5F7097;
  line-height: 1.4;
  font-family: 'Mukta Vaani', sans-serif;
}

body {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 18px;
}

@media screen and (min-width: 900px) {
  .pos-header {
    padding-top: 100px;
  }
}

.tab-link {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  list-style: none;
  margin: 15px;
  padding: 5px 20px;
  background: white;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tab-link.active {
  background-color: #f32634;
  color: white;
}

.tab-content {
  width: 100%;
  display: none;
  padding: 40px 0;
}

.tab-content.active {
  display: flex;
  flex-wrap: wrap;
}

input,
select,
textarea {
  border: 2px solid #EDEDED;
  outline: none;
  background: #F9F9F9;
  min-height: 50px;
  max-height: 200px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 10px;
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 20px;
}

label {
  color: #8c8c8c !important;
  font-weight: normal !important;
}

.btn,
.wpcf7-submit {
  font-family: 'Mukta Vaani', sans-serif;
  cursor: pointer;
  padding: 20px;
  text-transform: uppercase;
  color: white;
  border: 2px solid;
  margin: 10px 0px;
  padding: 14px;
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 0.9;
  transition: 0.2s all;
  position: relative;
  letter-spacing: 3px;
  font-size: 14px;
  background: linear-gradient(to right, #FD4243, #FAB1A2);
}

.btn:hover,
.wpcf7-submit:hover {
  transform: scale(1.1);
}

.btn:active,
.wpcf7-submit:active {
  transform: scale(1);
}

.wpcf7-submit {
  color: white;
}

label {
  font-weight: 600;
  color: #393939;
}

.slick-slider {
  overflow: hidden;
  padding-top: 20px;
  min-height: 320px;
}

.slick-slide {
  border-radius: 5px;
  float: left;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.slick-dots {
  padding: 25px 10px;
  text-align: center;
  clear: both;
}

.slick-dots li {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 13px;
  border: 1px solid #fff;
  background-color: transparent;
  margin: 0 5px;
  margin-top: 30px;
  cursor: pointer;
}

.slick-dots .slick-active {
  background: #007aff;
  border-color: #007aff;
}

.slick-dots button {
  text-indent: -99999px;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

.slick-dots button:focus {
  outline: none;
}
